{% extends 'UTASegProBundle::admin.html.twig' %}


    {% block header %}
        <h1>Agregar Estado de Proyecto </h1>
    {% endblock %}
            
{% block content %}
    <form action="{{ path('admin_estadoproyecto_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Agregar</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_estadoproyecto') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock %}
